.chat {
  width: 100%;
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
  padding: 12px 12px;
  box-sizing: border-box;
  height: calc(100vh - 64px);
  position: sticky;
  bottom: 0;

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 12px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 12px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  scrollbar-width: 6px;
  scrollbar-color: #aaa #f1f1f1;
}

.messageInput {
  display: flex;
  margin-top: 12px;
  width: 100%;

  & > input {
    font-size: 1em;
    width: 100%;
  }

  & > button {
    margin-left: 8px;
    min-width: 40px;
    min-height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.message {
  align-self: flex-start;
  border-bottom: 1px thistle solid;
  margin: 2px;
  max-width: 300px;
  padding: 8px 12px;
  position: relative;
  min-width: 80px;

  &__sender {
    align-self: flex-end;
  }

  span {
    font-size: 0.8em;
  }

  div {
    word-break: break-all;
  }
}