@import "../styles/main.module.scss";

.app {

}

.controls {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}

.home {
  position: relative;


  &__loading {

    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    max-width: 120px;
    margin: auto;
    font-size: 1.5rem;
    display: none;

    &__visible {
      display: inline;
    }
  }
}







.settings {
  display: flex;

  &__left {
    
  }

  &__right {
    video {
      width: 640px;
      height: 480px;
      border: 1px solid gainsboro;
      border-radius: 4px;
    }
  }
}

* {
  font-family: Montserrat;
}
