@import "../styles/main.module.scss";

.app {

}

.controls {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}

.home {
  position: relative;
  & > header {
    height: 64px;
    padding: 12px 12px;
    box-sizing: border-box;
    position: sticky;
    top: 0;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > button {
        width: 40px;
        height: 40px;
        appearance: none;
        border: none;
        background-color: transparent;
      }
    }   
  }

  &__loading {

    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    max-width: 120px;
    margin: auto;
    font-size: 1.5rem;
    display: none;

    &__visible {
      display: inline;
    }
  }
}







.settings {
  display: flex;

  &__left {
    
  }

  &__right {
    video {
      width: 640px;
      height: 480px;
      border: 1px solid gainsboro;
      border-radius: 4px;
    }
  }
}

* {
  font-family: Montserrat;
}
